.deps
.libs
*.o
*.a
*.lo
*.la
*.swp
*~
Makefile
Makefile.in
aclocal.m4
autom4te.cache
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
install-sh
unit_tests
libtool
ltmain.sh
missing
stamp-h1

examples/example1
examples/example1.sh
examples/example2
examples/example2.sh
examples/auth/src/auth
examples/auth/src/auth.sh
examples/auth/src/domain/*.cpp
examples/auth/src/domain/*.h
examples/auth/src/domain/*.sql
lib/orm/test/mk_tables.sql
src/yborm_gen_domain

