# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Autotools stuff
.deps
.libs
Makefile
Makefile.in
aclocal.m4
autom4te.cache
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
missing
stamp-h1

compile
test-driver

# Editors' temporary and backup files
*.swp
*.bak
*~

# Debian packaging stuff
build-stamp
configure-stamp
debian/files
debian/*.log
debian/*.substvars
debian/*.debhelper
debian/libyborm-dev/
debian/libyborm/

# Project specific executables, etc.
unit_tests
src/yborm_gen/yborm_gen
tests/orm/mk_tables.sql
examples/example1
examples/example1.sh
examples/example2
examples/example2.sh
examples/domain/*.cpp
examples/domain/*.h
examples/domain/*.sql
examples/auth/src/auth
examples/auth/src/auth.sh
examples/auth/src/domain/*.cpp
examples/auth/src/domain/*.h
examples/auth/src/domain/*.sql
doc/*.md

