#!/usr/bin/make -f
# -*- makefile -*-

# Build a debian package out of typical python package.
# Python package is installed using setup.py install,
# then dh_python2 helper is used to move files to proper places
# and create necessary symlinks.

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

PKG_NAME:=libyborm
CWD:=$(shell pwd)
DEST:=$(CWD)/debian/$(PKG_NAME)

configure: configure-stamp
configure-stamp:
	dh_testdir
	# Add here commands to configure the package.
	test -x ./configure || sh autogen.sh
	./configure --with-soci-includes=/blah
	touch $@

build: build-stamp
build-stamp: configure-stamp
	dh_testdir
	# Add here commands to build wahtever is in sources
	make
	touch $@

clean: configure
	dh_testdir
	dh_testroot
	rm -f *-stamp
	# Add here commands to clean up after the build process.
	make distclean
	dh_clean

install: build
	dh_testdir
	dh_testroot
	dh_prep
	dh_installdirs
	make DESTDIR=$(DEST)-dev install
	mkdir -p $(DEST)/usr/lib
	mv $(DEST)-dev/usr/local/lib/*.so* $(DEST)/usr/lib
	mv $(DEST)-dev/usr/local/* $(DEST)-dev/usr/
	rm $(DEST)-dev/usr/lib/*.la
	rmdir $(DEST)-dev/usr/local

# Build architecture-independent files here.
binary-indep: build install
# We have nothing to do by default.

# Build architecture-dependent files here.
binary-arch: build install
	dh_testdir
	dh_testroot
	dh_installchangelogs debian/changelog
	dh_installdocs
	dh_installexamples
#	dh_install
#	dh_installmenu
#	dh_installdebconf
#	dh_installlogrotate
#	dh_installemacsen
#	dh_installpam
#	dh_installmime
#	dh_installinit
#	dh_installcron
#	dh_installinfo
	dh_installman
	dh_link
	dh_strip
	dh_compress
	dh_fixperms
	dh_python2
#	dh_perl
	dh_makeshlibs
	dh_installdeb
	dh_shlibdeps
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary: binary-indep binary-arch
.PHONY: configure build clean install binary-arch binary-indep

# vim:ts=8:sts=8:sw=8:noet:
